*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  font-family: "Poppins", sans-serif;
}
.colorband{
  height: 30px;
  background-color: darkred;
  /* margin: 3px; */
}
header{
  width: 100%;
  background: white;
  /* padding: 20px 60px; */
}
nav{
  padding: 20px 60px;
}
.logo > h2{
  color: #b22222;
  font-weight: 700;
  font-size: 28px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links{
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 40px;
  font-weight: bold;
}
.links > a{
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.links > a:hover{
  color: #b22222;
  transition: all 500ms ease-in;
}
.links > a > li span{
  font-size: 12px;

}
#active{
  color: #b22222;
}
.right{
  display: flex;
  align-items: center;
  gap: 100px;
}
.search-box{
  border-radius: 30px;
  display: flex;
  background: #f5f5f5;
  padding: 10px 15px;
}
.search-box input{
  border: none;
  outline: none;
  background: transparent;
}
.cart{
  position: relative;
  top: 0;
  right: 0;
  cursor: pointer;
} 
.badge{
  position: relative;
  top: -10px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 18px;
  height: 18px;
}
.badge{
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 18px;
  height: 18px;
}
.hero-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding: 20px 60px;
}
.hero{
  margin: 20px;
  width: 40%;
  flex: 1;
}
.hero > p{
  font-weight: bold;
}
.hero > h1{
 font-size: 64px;
 margin: 20px 0; 
}
h1 span{
  color: darkred;
}
.description{
  color: gray;
  line-height: 28px;
}
.order{
  border-radius: 12px;
  background-color: #b22222;
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  height: 40px;
  width: auto;
}
.order:hover{
  background-color: #9d1c1c;
  transition: all 500ms ease-in;
  transform: scale(1.3, 1.3);
}
.hero button p{
 font-weight: bold;
 color: white;
}
.red-box{
  width: 400px;
  height: 420px;
  background: #b22222;
  border-radius: 35px;
}
.hero-image{
  position: relative;
  width: 50%;
  display: flex;
  /* flex: 1; */
}
.hero-image img{
  position: absolute;
  top: -50px;
  left: -50px;
  width: 100%;
  height: auto;
}
/* .features{
  position: absolute;
  top: 20px;
  right: -90px;
  display: flex;
  flex-direction: column;
  gap: 20px;
} */
.icon-card{
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  gap: 20px;
  background-color: #f5f5f5;
  padding: 10px 20px;
  /* border: 2px solid #b22222; */
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.icon-card:hover{
  background-color: #b22222;
  color: white;
  transition: all 500ms ease-in;
}
/* .features{
  width: 220px;
} */
.icon-card i{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  /* background: #9d1c1c;
  border-radius: 50%;
  color: white; */
}
.features h4{
  font-size: 18px;
  margin-bottom: 5px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.features p{
  color: gray;
  font-size: 14px;
}
.categories{
  display: flex;
  gap: 20px;
  /* justify-content: space-between; */
  margin-top: 50px;
}
.cart:hover{
  color: #b22222;
  transition: all 500ms ease-in;
}
.category-card{
  width: 110px;
  height: 150px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.category-card img{
  border-radius: 20px;
  width: 65px;
  height: 65px;
  object-fit: contain;
  display: block;
  margin:  auto;
}
.category-card:hover{
  background-color: #b22222;
  color: white;
  transition: all 500ms ease-in;
}
.category-card h3{
  text-align: center;
  object-fit: contain;
  margin-top: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.category-card p{
  text-align: center;
  color: gray;
  font-size: 14px;
}
.offers{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 200px 200px;
  gap: 20px;
  margin: 70px 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.chicken{
  background-image: url('./images/gyanbasnet-chicken-wings-4000442_1920.jpg');
  background-size: cover;
  background-position: center;
  /* border-radius: 20px; */
  grid-row: 1 / 3;
}
.chicken h2{
  color: #ffffff;
  margin-left: 20px;
}
.pizza{
  background-image: url('./images/baris_ta-pizza-8072860_1920.jpg');
  background-size: cover;
  overflow: hidden;
  background-position: center;
}
.pasta{
  background-image: url('./images/pasta.jpg');
  background-size: cover;
  background-position: center;
}
.products span{
  color: #b22222;
}
.products{
  display: grid;
  padding: 20px 60px;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 40px;
}
.product-card{
  /* width: 65px;
  height: 65px; */
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  transition: 3s;
  background-color: rgba(255, 200, 208, 0.557);
  position: relative;
}
.product-card img{
  width: 120px;
  /* height: min-content; */
  display: block;
  margin: 20px auto;
}
.product-card:nth-child(4) img{
  width: 100px;
}
.product-card h3{
  margin-top: 20px;
  font-size: 20px;
}
.product-card p{
  margin: 10px 0 20px;
  color: #666666;
  line-height: 1.5;
  text-align: left;
  min-height: 40px;
}
.product-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.product-footer h2{
  color: #b22222;
  font-size: 28px;
}
.product-footer button{
  width: 45px;
  height: 45px;
  border: none;
  background: #b22222;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}
.fav{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #c0392b;
}
.product-card:hover{
  transform: translateY(-10px);
}
.best{
  color: #b22222;
}
/* @media screen and (max-width: 500px) {
  body{
    background-color: aqua;
  }
  .hero-section{
    flex-direction: column;
  }
} */