*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  font-family: Arial, Helvetica, sans-serif,;
}
.colorband{
  height: 30px;
  background-color: darkred;
  /* margin: 3px; */
}
header{
  width: 100%;
  background: white;
  padding: 20px 60px;
}
.logo > h2{
  color: #b22222;
  font-weight: 700;
  font-size: 28px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links{
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 40px;
  font-weight: bold;
}
.links > a{
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.links > a:hover{
  color: #b22222;
  transition: all 500ms ease-in;
}
#active{
  color: #b22222;
}
.right{
  display: flex;
  align-items: center;
  gap: 20px;
}
.search-box{
  border-radius: 30px;
  display: flex;
  background: #f5f5f5;
  padding: 10px 15px;
}
.search-box input{
  border: none;
  outline: none;
  background: transparent;
}
.cart{
  position: relative;
  top: 0;
  right: 0;
  cursor: pointer;
} 
.badge{
  position: relative;
  top: -10px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 18px;
  height: 18px;
}
.hero-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.hero{
  margin: 20px;
  width: 40%;
}
.hero > p{
  font-weight: bold;
}
.hero > h1{
 font-size: 60px;
 margin: 20px 0; 
}
h1 span{
  color: darkred;
}
.description{
  color: gray;
  line-height: 28px;
}
.order{
  border-radius: 10%;
  background-color: #b22222;
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  height: 40px;
  width: auto;
}
.order:hover{
  background-color: #9d1c1c;
  transition: all 500ms ease-in;
  transform: scale(1.3, 1.3);
}
.hero button p{
 font-weight: bold;
 color: white;
}
.red-box{
  width: 350px;
  height: 420px;
  background: #b22222;
  border-radius: 35px;
}
.hero-image{
  position: relative;
  width: 50%;
  display: flex;
}
.hero-image img{
  position: absolute;
  top: -50px;
  left: -50px;
  width: 100%;
  height: auto;
}
/* .features{
  position: absolute;
  top: 20px;
  right: -90px;
  display: flex;
  flex-direction: column;
  gap: 20px;
} */
.icon-card{
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  gap: 20px;
  background-color: #f5f5f5;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.icon-card:hover{
  background-color: #b22222;
  color: white;
  transition: all 500ms ease-in;
}
.icon-card i{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  /* background: #9d1c1c;
  border-radius: 50%;
  color: white; */
}
.features h4{
  font-size: 18px;
  margin-bottom: 5px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.features p{
  color: gray;
  font-size: 14px;
}